/*home page background container styles*/
.home-bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}
@media screen and (min-width:768px){
    .home-bg-container{
        background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    }
}

/*home page warpper container styles*/
.home-main-container{
    width: 90%;
}

/*home page main container styles*/
.home-content-container {
    margin-top: 100px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
.home-content-container.visible {
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width:768px){
    .home-content-container{
       width: 50%;
    }
}

/*home page heading styles*/
.home-content-container > h1 {
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
}
@media screen and (min-width:768px){
    .home-content-container > h1 {
        font-size: 4rem;
    }
}

/*home page paragraph styles*/
.home-content-container > p {
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    margin: 30px 0px;
}
@media screen and (min-width:768px){
    .home-content-container > p {   
        font-size: 1.5rem;
    }
}

/*home page find jobs button styles*/
.find-jobs-btn {
    color: #fff;
    background-color: #4f46e5;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    outline: none;
    cursor: pointer;   
}
.find-jobs-btn:hover{
    box-shadow: 0px 0px 16px #4f46e5;
    transition: 0.25s ease-in-out;
}
@media screen and (min-width:768px){
    .find-jobs-btn {
        padding: 16px 24px;
    }
}